.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-blue);
    text-align: center;
    height: 100vh;
}

.hero-title h2{
    color: var(--mint);
}