@import "Menubar";
@import "Hero";
@import "About";
@import "Cv";
@import "Cvcards";
@import "Portfolio";
@import "Portfoliocard";
@import "Underconstruction";

*{
    padding: 0;
    margin: 0;
    font-family: 'Sometype Mono', monospace;
    scroll-behavior: smooth;
}

.App{
    height: 100vh;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px;
    height: 100%;
}

:root{
    --gray-color: #F9F9F9;
    --bg-blue: #062743;
    --light-blue: #113A5D;
    --mint: #C4FFDD;
    --h1-size: clamp(3.875rem, 2.3194rem + 3.5556vw, 5.875rem);
    --h2-size: clamp(2.375rem, 1.3056rem + 2.4444vw, 3.75rem);
    --h3-size: clamp(2rem, 1.3194rem + 1.5556vw, 2.875rem);
    --h4-size: clamp(1.375rem, 0.9861rem + 0.8889vw, 1.875rem);
    --h5-size: clamp(1.25rem, 1.0556rem + 0.4444vw, 1.5rem);
    --h6-size: clamp(1.25rem, 1.0556rem + 0.4444vw, 1.5rem);
    --p-size: clamp(1rem, 0.9028rem + 0.2222vw, 1.125rem);
    --transitiontime: 0.5s;
}

h1{
    font-size: var(--h1-size);
    color: var(--mint);
    font-weight: bolder;
}

h2{
    font-size: var(--h2-size);
    color: var(--bg-blue);
}

h3{
    font-size: var(--h3-size);
}

h4{
    font-size: var(--h4-size);
}

h5{
    font-size: var(--h5-size);
}

h6{
    font-size: var(--h6-size);
}

p{
    font-size: var(--p-size);
}

a{
    font-size: var(--p-size);
    font-weight: 300;
    text-decoration: none;
    color: #C4FFDD;
}

img{
    max-width: 50px;
    min-width: 50px;
    transition: var(--transitiontime);
}

img:hover{
    max-width: 55px;
    min-width: 55px;
}

button{
    padding: 5px 10px;
    width: 130px;
    background-color: var(--bg-blue);
    color: var(--mint);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    padding: 5px 10px;
    width: 130px;
    background-color: var(--bg-blue);
    color: var(--mint);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

footer p{
    text-align: center;
    font-size: 14px;
    padding: 10px;
}