.portfolio-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-blue);
}

.portfolio-title h2{
    color: var(--mint);
    text-align: center;
}

.portfolios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
}

#portfolio{
    background-color: var(--bg-blue);
}